:root {
  --bg-main-color: #111;
  --active-color: rgb(220, 177, 74);
  --primary-color: #66cf28;
  --red: #f00;
  --green: #008009;
  --black: #000;
  --white: #fff;
  --gray: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;

  background: var(--white);
  color: var(--black);
}

/* CSS scroll bar */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 50px;
}

/* CSS scroll bar - modal react-bootstrap */
.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* CSS khi hover */
.main-animation {
  cursor: pointer;
  transition: all 500ms;
}

.main-animation:hover,
.main-animation:active,
.main-animation.active {
  opacity: 0.6;
}

.active-animation {
  cursor: pointer;
  transition: all 300ms;
}

.active-animation:hover,
.active-animation:active,
.active-animation.active {
  color: var(--active-color);
}

.hr {
  background-color: #0abf54;
  height: 2px;
  margin: 5px auto 36px;
  width: 200px;
}

/* CSS chặn copy text */
.no-copy-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* CSS center */
.centered {
  /* margin: 3rem auto; */
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
