.input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem 8px;
  font-size: 13px;
  border-radius: 4px;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--active-color);
}
